.app {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
}

.pageHeading {
	margin: 0 0 0.5rem;
	font-size: 25px;
	font-weight: bold;
}

.listContainer {
	margin-top: 1.5rem;
}

.listHeading {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0.5rem;
}

.noMarginText {
	margin: 0;
}

.currentValue {
	font-weight: bold;
}

.buttonsContainer {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 10px;
}
