.fieldContainer {
	position: relative;
	margin-top: 100px;
	width: 370px;
	display: flex;
	flex-wrap: wrap;
}
.field {
	background: transparent;
	border: none;
	margin: 10px;
	width: 100px;
	height: 100px;
	font-size: 60px;
	color: yellow;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.field:hover {
	background-color: rgb(241, 241, 171);
	color: black;
}

.field:disabled {
	opacity: 0.3;
}

.l {
	position: absolute;
	width: 400px;
	height: 10px;
	background-color: yellow;
}
.l:nth-child(1) {
	top: 115px;
	left: -23px;
}
.l:nth-child(2) {
	top: 235px;
	left: -23px;
}
.l:nth-child(3) {
	transform: rotate(90deg);
	top: 172px;
	left: -80px;
}
.l:nth-child(4) {
	transform: rotate(90deg);
	top: 172px;
	left: 40px;
}
